# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{HTTP:Authorization} ^(.*)

RewriteRule . /index.php [L]
RewriteRule ^index\.php$ - [L]
RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%1]

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
#    Redirect 301 /category/javascript http://localhost:3000/category/javascript
#    Redirect 301 /category/uncategorized http://localhost:3000/category/all
</IfModule>

<IfModule mod_headers.c>
    Header add Access-Control-Allow-Headers "content-disposition"
</IfModule>

#<IfModule mod_mime.c>
#    <FilesMatch "\.(gif|jpe?g|png)$">
#       order allow,deny
#       allow from all
#    </FilesMatch>
#</IfModule>

# END WordPress
